@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.main_container {
  background: #f7f7f9;
  position: relative;
}

.background-white {
  background: #fff;
}

.icon {
  width: 8px;
  height: 8px;
}

.bg-n-300 {
  background: #f7f7f9;
}

.bg-p-50 {
  background: #ebebff;
}

.clr-n-900 {
  color: #000;
}

.clr-n-800 {
  color: #172b4d;
}

.clr-n-700 {
  color: #253858;
}

.clr-n-600 {
  color: #344563;
}

.clr-n-500 {
  color: #7a869a;
}

.clr-p-500 {
  color: #396df2;
}

.clr-p-400 {
  color: #6070ff;
}

.clr-p-300 {
  color: #7f8cff;
}

.size-40 {
  font-size: 40px;
}

.size-32 {
  font-size: 32px;
}

.size-20 {
  font-size: 20px;
}

.size-18 {
  font-size: 18px;
}

.size-17 {
  font-size: 17px;
}

.size-16 {
  font-size: 16px;
}

.size-15 {
  font-size: 15px;
}

.size-13 {
  font-size: 13px;
}

.size-12 {
  font-size: 12px;
}

.weight-700 {
  font-weight: 700;
}

.weight-500 {
  font-weight: 500;
}

.weight-400 {
  font-weight: 400;
}

.line_hieght-52 {
  line-height: 52px;
}

.line_hieght-28 {
  line-height: 28px;
}

.line_hieght-24 {
  line-height: 24px;
}

.line_hieght-20 {
  line-height: 20px;
}

.line_hieght-16 {
  line-height: 16px;
}

.link {
  text-decoration: none;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.btn:hover {
  animation-name: btn-hover;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: rgb(61, 46, 197);
  color: white;
}

.btn:focus {
  background: #2230d2;
  color: #fff;
}

.hidden {
  transform: scale(0);
}

.header {
  background-color: #f8fafc;
  position: fixed;
  z-index: 10000;
  width: 100%;
  opacity: 90%;
}

.navigation_bar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation_bar__link {
  color: #2230d2;
  animation-name: rotate-logo;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.navigation_bar__hamb {
  cursor: pointer;
  z-index: 100;
}

/* mobile menu */

.visible {
  display: flex;
}

.non-visible {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #0113d6;
  color: white;
  height: 1100px;
  padding: 5px;
  opacity: 65%;
  transition: all;
  transition-duration: 0.75s;
  backface-visibility: hidden;
}

.hidde-over-flow {
  overflow-y: hidden;
}

.add-blur-effect {
  filter: blur(5px);
}

.ul-menu {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  list-style: none;
}

.li-a-menu {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.close-btn {
  color: #fff;
  display: flex;
  justify-content: end;
  padding: 15px 35px;
}

/* ende of Mobile menu */

.head::before {
  border-bottom-left-radius: 5rem;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.head {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 6rem 1.5rem;
  z-index: 10;
  background-image:
    url("./img/Rectangle\ 6.png"),
    url("./img/Ellipse\ 11.png"),
    url("./img/Rectangle\ 7.png"),
    url("./img/Ellipse\ 5.png"),
    url("./img/Rectangle\ 4.png"),
    url("./img/Ellipse\ 3.png"),
    url("./img/Ellipse\ 12.png"),
    url("./img/Ellipse\ 13.png"),
    url("./img/Ellipse\ 4.png"),
    url("./img/Rectangle\ 5.png");
  background-position:
    4% 29px,
    9% 55px,
    50% 55px,
    50% 65px,
    85% 5px,
    90% 85px,
    13% 85%,
    12% 90%,
    55% 87%,
    50% 92%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5em;
  background-color: #fff;
}

.head__title {
  margin-top: 150px;
  color: #172b4d;
  width: 10ch;
}

.head__title span {
  display: block;
  width: 10ch;
}

.head__dsc {
  margin: 0.8rem 0;
  color: #344563;
}

.head__link {
  text-transform: uppercase;
}

.icons_list {
  margin: 0.5rem 0;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.cards {
  grid-template-rows: repeat(3, auto);
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
}

.card {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
}

.card__img {
  width: 100%;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-property: all;
}

.card__img:hover {
  scale: 110% 113%;
}

.card__subtitle {
  align-items: center;
  column-gap: 1rem;
  margin: 20px 0;
}

.card__subtitle-ul {
  margin: 0;
  padding: 0;
}

.card__topics {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.8rem;
}

.card__topics__text {
  padding: 4px 12px;
  border-radius: 8px;
}

.card__btn .btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  width: 5ch;
}

.about__dsc {
  margin: 10px 0;
}

.about__connect {
  text-transform: uppercase;
}

.about__icons__ul {
  margin: 1.3rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.about .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.tools {
  margin: 6px 0;
  padding: 24px 0;
}

.langs__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.langs__top__img {
  transform: rotate(90deg);
}

nav ul li a {
  padding: 8px 15px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #121212;
}

.langs__bottom li {
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
}

.about__frameworks {
  border-bottom: 1px solid #dfe1e6;
}

.about__frameworks__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about__skills {
  border-bottom: 1px solid #dfe1e6;
}

.about__skills__top {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.error {
  text-align: center;
  color: red;
}

.modal {
  background: #fff;
  padding: 1.5rem;
  width: 90%;
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s, visibility 0s;
  z-index: 300;
}

.modal__header {
  justify-content: space-between;
}

.modal__header img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__image {
  width: 100%;
  margin: 1rem 0;
}

.modal__dsc {
  flex-direction: column;
}

.modal__dsc__first {
  margin: 0.7rem 0;
}

.modal__dsc__second {
  flex-direction: column;
  align-items: flex-start;
}

.modal__dsc__second div {
  margin: 1rem 0;
}

.modal__dsc__second p {
  padding: 4px 12px;
  border-radius: 8px;
  margin-right: 0.5rem;
}

.modal__btn {
  margin: 1rem 0;
}

/* Transition and Animation */
nav a:hover {
  transition: all 2s;
  rotate: 720deg;
}

/* end of T and A */

.modal__btn li a {
  border: 1px solid #6070ff;
  padding: 0.6rem 1.5vw;
  border-radius: 8px;
  margin-right: 0.5rem;
}

.modal__feature ul {
  padding: 0;
  margin: 0;
}

.modal__feature ul li {
  margin-left: 1.5rem;
}

.modal.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s, transform 1s, visibility 0s;
  transform: scale(0);
  background: rgba(193, 199, 208, 0.5);
  z-index: 200;
}

.overlay.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.navigation_bar__menu__link {
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

@media (min-width: 992px) {
  .navigation_bar__menu__link:hover {
    color: #396df2;
    font-size: 17px;
  }
}

.icons_list__link img {
  transition: transform 0.5s;
}

.about__icons__link img {
  transition: transform 0.5s;
}

.icons_list__link img:hover {
  transform: scale(1.5);
}

.about__icons__link img:hover {
  transform: scale(1.5);
}

@media (max-width: 992px) {
  .navigation_bar__menu {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: rgba(96, 112, 255, 0.95);
    display: flex;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 8rem 2rem;
    z-index: 50;
  }

  .navigation_bar__menu__ul {
    flex-direction: column;
  }

  .navigation_bar__menu__li {
    margin-bottom: 40px;
  }

  .navigation_bar__menu__li a {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
  }

  .navigation_bar__menu__li a:hover {
    color: #000;
  }
}

.active {
  visibility: visible;
  opacity: 1;
  left: 0;
  transition: left 0.8s, visibility 0.8s, opacity 0.4s;
}

@media (min-width: 992px) {
  .navigation_bar {
    padding: 3px 8rem;
  }

  .navigation_bar__menu {
    display: flex;
    align-items: center;
  }

  .navigation_bar__menu__li {
    margin: 0 16px;
  }

  .head::before {
    padding: 6rem;
    border-bottom-left-radius: 8rem;
  }

  .head__title span {
    width: 15ch;
  }

  .head__link {
    margin: 0.7rem 0;
  }

  .cards {
    padding: 5rem;
  }

  .card {
    align-items: center;
    max-width: 1104px;
    column-gap: 46px;
    padding: 1.5rem;
  }

  .card__text {
    padding: 1rem;
  }

  .card__img {
    width: 50%;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    flex-direction: row;
  }

  .card:nth-child(2),
  .card:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    column-gap: 37px;
    border-top-right-radius: 8rem;
  }

  .about_me {
    flex-basis: 25rem;
  }

  .langs__bottom {
    display: flex;
    column-gap: 12px;
  }

  .langs__bottom li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 7.6rem;
  }

  .tools {
    flex-basis: 25rem;
  }
}

.form-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 180px 100px;
  margin-top: -20px;
  background-image:
    url("./img/Ellipse\ 13\ \(2\).png"),
    url("./img/Ellipse\ 5\ \(2\).png"),
    url("./img/Rectangle\ 7\ \(2\).png"),
    url("./img/Ellipse\ 3\ \(4\).png"),
    url("./img/Rectangle\ 4\ \(4\).png"),
    url("./img/Ellipse\ 12\ \(2\).png"),
    url("./img/Rectangle\ 6\ \(3\).png"),
    url("./img/Ellipse\ 11\ \(3\).png");
  background-position:
    80% 80%,
    3% 50%,
    3% 48%,
    93% 90px,
    90% 60px,
    35% 75px,
    19% 95%,
    20% 97%;
}

.form-header-2 {
  width: 810px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  line-height: 52px;
  color: #fff;
}

.contact-form-2 p {
  width: 327px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ebebff;
}

.contact-me-2 {
  display: flex;
  flex-direction: column;
}

.input-email,
.input-text {
  border: 1px solid #cfd8dc;
  height: 48px;
  width: 327px;
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.form-btn-2 {
  border: 1px solid #cfd8dc;
  height: 44px;
  width: 142px;
  border-radius: 8px;
  margin-bottom: 45px;
  background-color: #fff;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.form-btn-2:focus {
  background-color: rgb(61, 46, 197);
  color: white;
  cursor: pointer;
}

.form-btn-2:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

.type-text {
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  width: 327px;
  border-radius: 8px;
  height: 170px;
  background-color: #fff;
  padding: 15px 16px 38px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #b3bac5;
}

/* desktop version control */

@media (min-width: 768px) {
  .head {
    padding: 10rem;
    padding-right: 15rem;
  }

  .menu-list {
    list-style: none;
    display: flex;
    column-gap: 40px;
    color: #344563;
    font-family: "Poppina", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .form-btn-2 {
    align-self: center;
  }

  .contact-form-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
  }

  .contact-form-2 .p,
  .contact-form-2 .contact-me-2 {
    width: 100%;
  }

  .contact-form-2 .contact-me-2 .input-text,
  .contact-form-2 .contact-me-2 .input-email,
  .contact-form-2 .contact-me-2 .type-text {
    width: 80%;
    align-self: center;
    border-radius: 2px;
  }

  .h1 {
    margin-top: 100px;
  }

  .hamburguer-img {
    display: none;
  }

  .about {
    display: flex;
  }

  .tools {
    flex-grow: 1.5;
  }
}

/* Transition and Animation */

nav ul li a:hover,
nav ul li a:focus {
  color: #efefef;
  background-color: #396df2;
  border-bottom: 1px solid #396df2;
}

.section-one h1 {
  animation-duration: 0.75s;
  animation-name: slidefromright;
}

@keyframes slidefromright {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
}

.card__btn .btn,
.about_me .btn {
  transition-property: all;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
}

.card__btn .btn:focus,
.about_me .btn:focus {
  background-color: #2230d2;
  color: white;
}

.card__btn .btn:hover,
.about_me .btn:hover {
  background-color: #7f8cff;
  color: white;
}

.p:hover {
  animation-name: move-right;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@keyframes move-right {
  from {
    margin-left: -20%;
  }

  to {
    margin-left: 0%;
  }
}

/* end of T & A */
